# Environment variables & secrets
.env
.env.*
!.env.example

# Virtual Environments
.venv/
venv/
ENV/
env/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Typing & Testing caches
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
